* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --textcolor: #F2E7D5;
    --bgcolor: #2b2b2b;
    --highlight: #FA4848;
}

/* --highlight: #F2AE41; */

/* body {
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
    line-height: 1.5rem;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0px;
    outline: 0px;
} */

body {
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Helvetica', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 2.5rem;
    position: relative;
    max-width: 64em;
    margin: 0 auto;
    background-color: var(--bgcolor);
}

section {
    padding: calc(8em + 6vw) 4vw 8vw 4vw;
    display: none;
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    color: var(--textcolor);
    background-color: var(--bgcolor);
}

section:target {
    display: block;
}

section#home {
    display: block;
}

header {
    padding: 5vw 5vw 0 5vw;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    z-index: 2;
}

header h1 {
    flex: 1;
    white-space: nowrap;
    padding: 0 5vw .5em 0;
}

nav a:not(:last-of-type) {
    margin-right: 1.5vw;
}

a {
    text-decoration: none;
    color: var(--highlight);
    line-height: 1.5rem;
}

h2 {
    padding-bottom: 2rem;
}

p {
    text-indent: 2rem;
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
}

.img-tray {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img-tray * {
    max-height: 550px;
    max-width: 450px;
    padding: 1rem 1rem 1rem;
    position: relative;
}

.overlay {
    position: absolute;
    top: 75%;
    bottom: 0;
    left: 8%;
    right: 0;
    height: 25%;
    width: 84%;
    opacity: 0;
    transition: .5s ease;
    background-color: aliceblue;
}

/* #bazaar-overlay {
    position: absolute;
    top: 70%;
    bottom: 0;
    left: 10%;
    right: 0;
    height: 30%;
    width: 80%;
    opacity: 0;
    transition: .5s ease;
    background-color: aliceblue;
} */

.overlay#bazaar {
    width: 100%;
}

.menu-imgs:hover .overlay {
    opacity: .9;
}

.overtxt {
    color: rgb(25, 25, 25);
    font-size: 30px;
    position: absolute;
    top: 30%;
    left: 25%;
}